@font-face {
    font-family:'Aleo';
    src: url('../fonts/Aleo Regular.woff2') format('woff2'),
		url('../fonts/Aleo Regular.woff') format('woff'),
		url('../fonts/Aleo Regular.ttf') format('truetype'),
		url('../fonts/Aleo Regular.svg#Aleo Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Josefin Sans';
    src: url('../fonts/Josefin Sans Bold.woff2') format('woff2'),
		url('../fonts/Josefin Sans Bold.woff') format('woff'),
		url('../fonts/Josefin Sans Bold.ttf') format('truetype'),
		url('../fonts/Josefin Sans Bold.svg#Josefin Sans Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:'Josefin Sans';
    src: url('../fonts/Josefin Sans Regular.woff2') format('woff2'),
		url('../fonts/Josefin Sans Regular.woff') format('woff'),
		url('../fonts/Josefin Sans Regular.ttf') format('truetype'),
		url('../fonts/Josefin Sans Regular.svg#Josefin Sans Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}