*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
ul,
a,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1143px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: $font-josefin;
}

.btn {
    font-family: $font-aleo;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #496BFE 39%, #5474fd 40%, #5474fd 51%, #5474fd 100%);
    min-height: 63px;
    min-width: 228px;
    padding: 18px 33px;
        
}
