.research {
    .project {
        margin-bottom: 32px;
        padding: 0;

        @include media ('>=tablet') {
            margin-bottom: 40px;
        }
    }

    .project-text {
        padding-top: 48px;

        @include media ('>=tablet') {
            padding-top: 50px;
            margin-bottom: 128px;
        }
    }
}