/* mixin usage */
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
ul,
a,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 25px 0;
}
@media (min-width: 1024px) {
  .header {
    padding: 35px 0;
  }
}
.header.active .nav-holder {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header.active .nav-opener span {
  opacity: 0;
  visibility: hidden;
}
.header.active .nav-opener::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}
.header.active .nav-opener::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 13px;
}
.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.nav-holder {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 100vh;
  z-index: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media (min-width: 1024px) {
  .nav-holder {
    opacity: 1;
    visibility: visible;
    position: static;
    padding: 0;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (min-width: 1024px) {
  .nav-holder .nav {
    margin-right: 28px;
  }
}
.nav-holder .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  .nav-holder .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -10px;
  }
}
.nav-holder .nav-item {
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .nav-holder .nav-item {
    margin: 0;
    padding: 0 26px;
  }
}
.nav-holder .nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #2F281E;
  display: block;
  text-decoration: none;
}

.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  background-color: #fff;
  border: none;
  margin-right: 12px;
}
@media (min-width: 1024px) {
  .btn {
    margin: 0;
  }
}

.nav-opener {
  background-color: transparent;
  border: none;
  position: relative;
  width: 24px;
  height: 14px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .nav-opener {
    display: none;
  }
}
.nav-opener::before, .nav-opener::after,
.nav-opener span {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: black;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.nav-opener::before {
  top: 0;
}
.nav-opener::after {
  bottom: 0;
}
.nav-opener span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}