
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto.woff2') format('woff2'),
		url('../fonts/Roboto.woff') format('woff'),
		url('../fonts/Roboto.ttf') format('truetype'),
		url('../fonts/Roboto.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Quicksand';
    src: url('../fonts/Quicksand Medium.woff2') format('woff2'),
		url('../fonts/Quicksand Medium.woff') format('woff'),
		url('../fonts/Quicksand Medium.ttf') format('truetype'),
		url('../fonts/Quicksand Medium.svg#Quicksand Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:'Nunito';
    src: url('../fonts/Nunito Sans SemiBold.woff2') format('woff2'),
		url('../fonts/Nunito Sans SemiBold.woff') format('woff'),
		url('../fonts/Nunito Sans SemiBold.ttf') format('truetype'),
		url('../fonts/Nunito Sans SemiBold.svg#Nunito Sans SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}