.choose-us {
        background-image: url("../img/choose-us.svg");
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        min-height: 685px;
        background-position:center;
        min-width: 304px;

}