.hero-section {
    background-image: url("../img/header.svg");
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    height: 100vh;
    background-position: 0 73px ;
    
}
