*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
ol,
ul,
p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    position: fixed;
    padding-top: 16px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 3;
}

.container {
    width: 100%;
    max-width: 1882px;
    padding: 0 15px;
    margin: 0 auto;
}


.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    text-decoration: none;
    padding-right: 42px;
    color: #000;
    font-size: 20px;
    line-height: 23px;
}

.item.eng {
    font-weight: 900;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #000;
}

.item.using {
    padding-right: 10px;
}

.sidebar {
    position: sticky;
    top: 122px;
    left: 0;
    z-index: 3;
}

.sidebar-list {
    padding-left: 9px;
}

.sidebar-item {
    border-bottom: 1px solid #BFBFBF;
    margin-bottom: 93px;
}

.sidebar-item .title {
    margin: 0;
    padding-left: 21px;
}

.main-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    z-index: 1;
}

.container.main {
    width: 1190px;
    margin: 0;
}

.main-list {
    list-style: none;
    padding: 143px 0;
    margin: 0;
}

.list-item {
    font-weight: 900; 
}

.title {
    font-family: 'pt_sans', sans-serif;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 39px;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 87px;
}

.text-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text.first-one {
    margin-bottom: 40px;
}

.tag {
    background-color: #EDEDED;
}

.bold {
    font-weight: 900;
}

.text-underline {
    text-decoration: underline;
    color: #000;
}

.logo-img {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 0;
}

